
.container{
    background-color: #052143;
    width: 1080px;
    height: 1920px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.modal{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    padding: 5em;
    border-radius: 60px;
}

.iconTouch{
    width: 60%;
    animation-name: stretch;
    animation-duration: 3.0s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.65);     
    }

    100% {
        transform: scale(1.0);
    }
}

.modalText{
    color: #616161;
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    margin-top: 2em;
}

.containerModelora{
    position: absolute;
    bottom: 0;
    right: -350px;
}

.logoModelo{
    width: 50%;
    margin-top: 4em;
}