.section {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    width: 1080px;
    height: 1920px;
    background-color: #cccccc;
    z-index: 1;
    flex-direction: column;
    flex: 1;
}

.backIcon{
    margin-top: 5%;
    margin-left: 5%;
    width: 15%;
}

.modal{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    padding: 5em;
    border-radius: 60px;
    z-index: 3;
}

.modalInformation{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    font-size: 30px;
    text-align: justify;
}

.containerModelora{
    position: absolute;
    bottom: 0;
    right: -350px;
}

.logoModelo{
    width: 50%;
    margin-top: 4em;
}

.button{
    background-color: #FDD835;
    color: white;
    font-size: 50px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    border-color: #FDD835;
    box-shadow: slategrey;
}